[submodule "gitlab.com-simonpunk"]
	path = gitlab.com-simonpunk
	url = https://gitlab.com/ReeViiS69/minimalsusfs.git
	branch = minimalgki
[submodule "github.com-topjohnwu"]
	path = github.com-topjohnwu
	url = https://github.com/ReeViiS69/magiskboot-linux.git
	branch = main
[submodule "wildplus"]
	path = wildplus
	url = https://github.com/ReeViiS69/wildkernel_patches.git
	branch = 159susfs4ksun109
